[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
odc-stac = "==0.3.*"
dask = {version = "<=2024.5.2", extras = ["distributed"]}
rioxarray = "==0.17.*"
appdirs = "*"

[dev-packages]
eodc = ">=2025.3.2"
pytest = "*"
pytest-cov = "*"
jupyter-book = "*"
dask-gateway = ">=2023.8.0"
pre-commit = "*"
ruff = "*"
nbstripout = "*"
hvplot = "*"
datashader = "*"
geoviews = "*"
matplotlib = "*"
jupyter-bokeh = "*"
rich = "*"
build = "*"
twine = "*"
pytest-json-report = "*"
pymarkdown = "*"
jupyter = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
